<IfModule mod_mime.c>
        RemoveHandler .php .php3 .php4 .php5 .php6 .phtml .phtm .pht .html .htm .shtml .shtm .pl .pm .cgi .py
</IfModule>
<IfModule mod_php5.c>
        php_flag engine off
</IfModule>

SetHandler default-handler
<FilesMatch "\.(php[0-9]?|php[0-9]p|pht|html?|phtml?|shtml?|pl|pm|cgi|py)$">
        SetHandler default-handler
</FilesMatch>

AddType text/plain .php .php3 .php4 .php5 .php6 .phtml .phtm .pht .pl .pm .cgi .py
AddType text/html .html .htm .shtml .shtm
# Options -Indexes
